# Copyright 2023

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

alembic==1.7.5
amqp==5.0.6
annoy==1.17.0
Babel==2.9.1
backports.zoneinfo==0.2.1
billiard==3.6.4.0
blinker==1.4
boto3==1.10.14
botocore==1.13.50
celery==5.1.2
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cycler==0.11.0
debugpy
Delorean==1.0.0
Deprecated==1.2.12
dnspython==2.1.0
docutils==0.15.2
dominate==2.6.0
email-validator==1.1.2
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
flower==0.9.7
future==0.18.2
gevent==22.10.2
gitdb==4.0.9
GitPython==3.1.24
gunicorn==20.0.4
humanize==3.12.0
idna==3.3
imageio==2.10.4
importlib-metadata==4.8.2
importlib-resources==5.4.0
IPTCInfo3==2.1.4
itsdangerous==2.0.1
jdcal==1.4.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
kiwisolver==1.3.2
kombu==5.2.1
lockfile==0.12.2
lxml==4.6.4
Mako==1.1.5
MarkupSafe==2.0.1
matplotlib==3.3.0
networkx==2.6.3
numpy==1.19.3
oauthlib==3.2.0
opencv-python==4.5.3.56
openpyxl==3.0.5
ordered-set==4.0.2
packaging==21.2
pandas==1.1.4
parse==1.19.0
patsy==0.5.2
piexif==1.1.3
Pillow==6.2.1
Pint==0.18
prometheus-client==0.8.0
prompt-toolkit==3.0.22
psutil==5.8.0
pyexifinfo==0.4.0
pyexiftool==0.5.5
PyJWT==2.0.1
pykml==0.2.0
PyMySQL==0.9.3
pynmea2==1.18.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.2.0
pyzmq==22.1.0
redis==3.5.3
requests==2.25.1
requests_oauthlib==1.3.1
s3transfer==0.2.1
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.2
simplejson==3.17.3
six==1.16.0
smmap==5.0.0
SQLAlchemy==1.3.10
statsmodels==0.13.1
threadpoolctl==3.0.0
tifffile==2021.11.2
tornado==6.1
tqdm==4.59.0
typing-extensions==4.0.0
tzdata==2021.5
tzlocal==4.1
ubelt==0.10.1
urllib3==1.26.7
vine==5.0.0
visitor==0.1.3
Wand==0.6.6
wbia-pyflann==3.3.0
wbia-pyhesaff==3.0.2
wbia-utool==3.4.0
wbia-vtool==3.3.0
wcwidth==0.2.5
Werkzeug==0.16.0
wrapt==1.13.3
WTForms==3.0.0
xmltodict==0.12.0
zipp==3.6.0